<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
        * {
            box-sizing: border-box;
        }
        
        h1 {
            text-align: center;
            font-size: 5em;
            font-family: 'Aclonica', sans-serif;
        }
        
        p {
            font-size: 1.2em;
        }
        
        .column {
            float: left;
            width: 25%;
            padding: 40px;
            height: 550px;
        }
        
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        
        .button {
            display: inline-block;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            color: #ffffff;
            background-color: #7aa8b7;
            border-radius: 6px;
            outline: none;
        }
        
        body {
            background-image: linear-gradient(225deg, #605eb8, #20dd9b, #ffffff, #eedd44);
        }
    </style>
</head>

<body>

    <h1> BOOKS </h1>

    <div class="row text-center">
        <div class="column">
            <img src="../static/images/51outB7sr4L._SX331_BO1,204,203,200_.jpg" width=" 200 ">
            <p>Mental Health Emergencies: A Guide to Recognizing and Handling Mental Health Crises<br><b>Author:</b> Nick Benas and Michele Hart</p>
            <a href="https://www.amazon.com/Mental-Health-Emergencies-Recognizing-Handling/dp/1578266742?_encoding=UTF8&camp=1789&creative=9325&linkCode=ur2&tag=storypodca-20&linkId=2P4S6EY6B462X4AR" target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button9.png"></a>
        </div>

        <div class="column ">
            <img src="../static/images/51BcTVyZ+mL._SX331_BO1,204,203,200_.jpg" width="200 ">
            <p>Stigma: The Many Faces of Mental Illness <br><b>Author:</b> Joy Bruce M.D.</p>
            <a href="https://www.amazon.com/Stigma-Many-Faces-Mental-Illness/dp/154805741X?_encoding=UTF8&amp;camp=1789&amp;creative=9325&amp;linkCode=ur2&amp;tag=storypodca-20&amp;linkId=2P4S6EY6B462X4AR" target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button9.png"></a>
        </div>

        <div class="column">
            <img src="../static/images/41JuAaSeLOL._SX346_BO1,204,203,200_.jpg" width=" 200 ">
            <p>Ten Days in a Mad-House<br><b>Author:</b> Nellie Bly</p>
            <a href="https://www.amazon.com/Ten-Days-Mad-House-Nellie-Bly/dp/1983739464?_encoding=UTF8&amp;camp=1789&amp;creative=9325&amp;linkCode=ur2&amp;tag=storypodca-20&amp;linkId=2P4S6EY6B462X4AR" target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button9.png"></a>
        </div>

        <div class="column">
            <img src="../static/images/812vq7u3EmL.jpg" width=" 200 ">
            <p>Look Me in the Eye: My Life with Asperger’s <br><b>Author:</b> John Elder Robison</p>
            <a href="https://www.amazon.com/Look-Me-Eye-Life-Aspergers/dp/0307396185?_encoding=UTF8&amp;camp=1789&amp;creative=9325&amp;linkCode=ur2&amp;tag=storypodca-20&amp;linkId=2P4S6EY6B462X4AR" target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button9.png"></a>
        </div>
    </div>


    <div class="row text-center">
        <div class="column">
            <img src="../static/images/51ZYwAcaDML._SX394_BO1,204,203,200_.jpg" width=" 200 ">
            <p>Man, Who Mistook His Wife for A Hat<br><b>Author:</b> Oliver Sacks and Jonathan Davis</p>
            <a href="https://www.amazon.com/Man-Who-Mistook-His-Wife/dp/1491514078??_encoding=UTF8&amp;camp=1789&amp;creative=9325&amp;linkCode=ur2&amp;tag=storypodca-20&amp;linkId=2P4S6EY6B462X4AR" target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button9.png"></a>
        </div>

        <div class="column ">
            <img src="../static/images/813+ZA4K1HL.jpg" width="200 ">
            <p>Change Your Brain, Change your Life <br><b>Author:</b> Daniel G. Amen, MD</p>
            <a href="https://www.amazon.com/Change-Your-Brain-Revised-Expanded/dp/110190464X?dchild=1&amp;keywords=Change+Your+Brain+Change+Your+Life+by+Daniel+Amen&amp;qid=1622774391&amp;s=books&amp;sr=1-2&amp;linkCode=ll1&amp;tag=mental-health-books-06-20&amp;linkId=8e7da505d5368072024b357866afe327&amp;language=en_US&amp;ref_=as_li_ss_tl&amp;correlationId=4b2ba49e-e5d9-4d5d-bd5a-a7ee50d66fe1?_encoding=UTF8&amp;camp=1789&amp;creative=9325&amp;linkCode=ur2&amp;tag=storypodca-20&amp;linkId=2P4S6EY6B462X4AR"
                target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button9.png"></a>
        </div>

        <div class="column">
            <img src="../static/images/0593201906.01._SCLZZZZZZZ_SX500_.jpg" width=" 200 ">
            <p>Hope and Help for Your Nerves: End Anxiety Now<br><b>Author:</b> Dr. Claire Weekes</p>
            <a href="https://www.amazon.com/Hope-Help-Your-Nerves-Anxiety/dp/0593201906?dchild=1&amp;keywords=Hope+and+Help+for+Your+Nerves&amp;qid=1623358416&amp;sr=8-1&amp;linkCode=ll1&amp;tag=mental-health-books-06-20&amp;linkId=af1ef0403d4f6e0489cc63749fce7b2f&amp;language=en_US&amp;ref_=as_li_ss_tl&amp;correlationId=498575b6-937a-4f53-9948-d9e30a61bb13?_encoding=UTF8&amp;camp=1789&amp;creative=9325&amp;linkCode=ur2&amp;tag=storypodca-20&amp;linkId=2P4S6EY6B462X4AR"
                target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button9.png"></a>
        </div>

        <div class="column">
            <img src="../static/images/1509850864.01._SCLZZZZZZZ_SX500_.jpg" width=" 200 ">
            <p>Recovery: Freedom from Our Addictions<br><b>Author:</b> Russell Brand</p>
            <a href="https://www.amazon.com/Recovery-Freedom-Addictions-Russell-Brand/dp/125018245X?dchild=1&amp;keywords=Recovery%3A+Freedom+from+Our+Addictions+by+Russell+Brand&amp;qid=1622774300&amp;s=books&amp;sr=1-3&amp;linkCode=ll1&amp;tag=mental-health-books-06-20&amp;linkId=97458e6b9518ae508ef326ad0c0c5fea&amp;language=en_US&amp;ref_=as_li_ss_tl&amp;correlationId=1734ab68-99e1-4489-8757-293bb52b8022&amp;asin=1509850864&amp;revisionId=&amp;format=4&amp;depth=1?_encoding=UTF8&amp;camp=1789&amp;creative=9325&amp;linkCode=ur2&amp;tag=storypodca-20&amp;linkId=2P4S6EY6B462X4AR"
                target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button9.png"></a>
        </div>
    </div>

    <div class="row text-center">
        <div class="column">
            <img src="../static/images/81k9Uam6RLL.jpg" width=" 200 ">
            <p>Maybe You Should Talk to Someone<br><b>Author:</b> Lori Gottlieb</p>
            <a href="https://www.amazon.com/Maybe-You-Should-Talk-Someone/dp/1328662055?dchild=1&amp;keywords=Maybe+You+Should+Take+to+Someone+by+Lori+Gottlieb&amp;qid=1622774633&amp;s=books&amp;sr=1-1&amp;linkCode=ll1&amp;tag=mental-health-books-06-20&amp;linkId=4941a4e766dc7209155721a9933d8a0c&amp;language=en_US&amp;ref_=as_li_ss_tl&amp;correlationId=28aa2025-3b32-4980-9041-df6aae907766?_encoding=UTF8&amp;camp=1789&amp;creative=9325&amp;linkCode=ur2&amp;tag=storypodca-20&amp;linkId=2P4S6EY6B462X4AR"
                target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button9.png"></a>
        </div>
        <div class="column ">
            <img src="../static/images/51H1WKI7APL._SX330_BO1,204,203,200_.jpg" width="200 ">
            <p>Emotional First Aid<br><b>Author:</b> Guy Winch, PhD</p>
            <a href="https://www.amazon.com/Emotional-First-Aid-Rejection-Everyday/dp/0142181072?dchild=1&amp;keywords=Emotional+First+Aid+by+Guy+Winch%2C+Ph.D.&amp;qid=1622774818&amp;s=books&amp;sr=1-1&amp;linkCode=ll1&amp;tag=mental-health-books-06-20&amp;linkId=ba64d6101b73581fbb0618f763e97caa&amp;language=en_US&amp;ref_=as_li_ss_tl&amp;correlationId=ff503b30-91b2-458f-babf-03b032ee16a0?_encoding=UTF8&amp;camp=1789&amp;creative=9325&amp;linkCode=ur2&amp;tag=storypodca-20&amp;linkId=2P4S6EY6B462X4AR"
                target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button9.png"></a>
        </div>

        <div class="column">
            <img src="../static/images/41D3enj6JVS._SX324_BO1,204,203,200_.jpg" width=" 200 ">
            <p>The Body Keeps the Score<br><b>Author:</b>Dr. Bessel van der Kolk</p>
            <a href="https://www.amazon.com/Body-Keeps-Score-Healing-Trauma/dp/0143127748?&amp;linkCode=ll1&amp;tag=mental-health-books-06-20&amp;linkId=cfcf065112b4660119a641532414eaa0&amp;language=en_US&amp;ref_=as_li_ss_tl&amp;correlationId=b2902b07-ae2f-46f4-9cce-c1a17d99cc6b?_encoding=UTF8&amp;camp=1789&amp;creative=9325&amp;linkCode=ur2&amp;tag=storypodca-20&amp;linkId=2P4S6EY6B462X4AR"
                target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button9.png"></a>
        </div>

        <div class="column">
            <img src="../static/images/B084HPHTZJ.01._SCLZZZZZZZ_SX500_.jpg" width=" 200 ">
            <p>Detox Your Thoughts<br><b>Author:</b> Andrea Bonior, Ph.D.</p>
            <a href="https://www.amazon.com/Detox-Your-Thoughts-Negative-Self-Talk/dp/1452184879/ref=as_li_ss_tl?ie=UTF8&amp;linkCode=sl1&amp;tag=self01b-20&amp;linkId=365887b9932af440ec3c4f24f6fd1d84&amp;language=en_US?_encoding=UTF8&amp;camp=1789&amp;creative=9325&amp;linkCode=ur2&amp;tag=storypodca-20&amp;linkId=2P4S6EY6B462X4AR"
                target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button9.png"></a>
        </div>
    </div>

    <div class="row text-center">
        <div class="column">
            <img src="../static/images/51NN1Rr3CbL._SX403_BO1,204,203,200_.jpg" width=" 200 ">
            <p>Essential Art Therapy Exercises<br><b>Author:</b> Leah Guzman</p>
            <a href="https://www.amazon.com/Essential-Art-Therapy-Exercises-Techniques/dp/1646111621/ref=as_li_ss_tl?ie=UTF8&amp;linkCode=sl1&amp;tag=self01b-20&amp;linkId=0d1be35d8b1260c9d862bf21e8a0059a&amp;language=en_US?_encoding=UTF8&amp;camp=1789&amp;creative=9325&amp;linkCode=ur2&amp;tag=storypodca-20&amp;linkId=2P4S6EY6B462X4AR"
                target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button9.png"></a>
        </div>
        <!--  -->
        <div class="column ">
            <img src="../static/images/41nyqy-gzLL._SX331_BO1,204,203,200_.jpg" width="200 ">
            <p>Anxiety Relief for Teens<br><b>Author:</b> Regine Galanti, Ph.D.</p>
            <a href="https://www.amazon.com/Anxiety-Relief-Teens-Essential-Mindfulness/dp/0593196643/ref=as_li_ss_tl?ie=UTF8&amp;linkCode=sl1&amp;tag=self01b-20&amp;linkId=878809ef5fd33bd8f699b85903061d3d&amp;language=en_US?_encoding=UTF8&amp;camp=1789&amp;creative=9325&amp;linkCode=ur2&amp;tag=storypodca-20&amp;linkId=2P4S6EY6B462X4AR"
                target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button9.png"></a>
        </div>

        <div class=" column ">
            <img src="../static/images/51zKjnP3I+L._SY344_BO1,204,203,200_.jpg" width=" 200 ">
            <p>Rising Strong<br><b>Author:</b> Brené Brown, Ph.D.</p>
            <a href="https://www.amazon.com/Rising-Strong-Ability-Transforms-Parent/dp/081298580X/ref=as_li_ss_tl?ie=UTF8&amp;linkCode=sl1&amp;tag=self01b-20&amp;linkId=7229a6fa7adc65e05df58ff367664745&amp;language=en_US?_encoding=UTF8&amp;camp=1789&amp;creative=9325&amp;linkCode=ur2&amp;tag=storypodca-20&amp;linkId=2P4S6EY6B462X4AR"
                target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button9.png"></a>
        </div>
        <div class="column ">
            <img src="../static/images/41nLuZrSbNL._SX322_BO1,204,203,200_.jpg" width=" 200 ">
            <p>Man’s Search for Meaning <br><b>Author:</b> Viktor E. Frankl, Ph.D.</p>
            <a href="https://www.amazon.com/Mans-Search-Meaning-Viktor-Frankl/dp/0807014273/ref=as_li_ss_tl?ie=UTF8&amp;linkCode=sl1&amp;tag=self01b-20&amp;linkId=e8b170cb36565ea526b9192145920ba5&amp;language=en_US?_encoding=UTF8&amp;camp=1789&amp;creative=9325&amp;linkCode=ur2&amp;tag=storypodca-20&amp;linkId=2P4S6EY6B462X4AR"
                target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button9.png"></a>
        </div>
    </div>
    <!-- -------------------------------------------------------------------------------------------- -->
    <div class="row text-center">
        <div class="column">
            <img src="../static/images/41i+BDPpGdL._SY344_BO1,204,203,200_.jpg" width=" 200 ">
            <p>Joy on Demand<br><b>Author:</b> Chade-Meng Tan</p>
            <a href="https://www.amazon.com/dp/0062378872/ref=as_li_ss_tl?ie=UTF8&amp;linkCode=sl1&amp;tag=self01b-20&amp;linkId=28f2c19164b8bebf1ac35cfcca322097&amp;language=en_US?_encoding=UTF8&amp;camp=1789&amp;creative=9325&amp;linkCode=ur2&amp;tag=storypodca-20&amp;linkId=2P4S6EY6B462X4AR"
                target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button9.png"></a>
        </div>

        <div class="column ">
            <img src="../static/images/41BwbfHl3ML.jpg" width="200 ">
            <p>The Courage to Be Disliked <br><b>Author:</b> Ichiro Kishimi and Fumitake Koga</p>
            <a href="https://www.amazon.com/Courage-Be-Disliked-Phenomenon-Happiness-ebook/dp/B078MDSV8T/ref=as_li_ss_tl?ie=UTF8&amp;linkCode=sl1&amp;tag=self01b-20&amp;linkId=23d97c58cff766b65b8b171c4a8cf934&amp;language=en_US?_encoding=UTF8&amp;camp=1789&amp;creative=9325&amp;linkCode=ur2&amp;tag=storypodca-20&amp;linkId=2P4S6EY6B462X4AR"
                target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button9.png"></a>
        </div>

        <div class=" column ">
            <img src="../static/images/0525522816.01._SCLZZZZZZZ_SX500_.jpg" width=" 200 ">
            <p>Radical Compassion<br><b>Author:</b> Tara Brach, Ph.D.</p>
            <a href="https://www.amazon.com/Radical-Compassion-Learning-Yourself-Practice/dp/0525522816/ref=as_li_ss_tl?ie=UTF8&amp;linkCode=sl1&amp;tag=self01b-20&amp;linkId=790ca0f9e36addbf169ffd48f5ce179c&amp;language=en_US?_encoding=UTF8&amp;camp=1789&amp;creative=9325&amp;linkCode=ur2&amp;tag=storypodca-20&amp;linkId=2P4S6EY6B462X4AR"
                target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button9.png"></a>
        </div>
        <div class="column ">
            <img src="../static/images/81FLaR9t-zL.jpg" width=" 200 ">
            <p>The Anxiety and Phobia Workbook <br><b>Author:</b> Edmund J. Bourne, Ph.D.</p>
            <a href="https://www.amazon.com/Anxiety-Phobia-Workbook-Edmund-Bourne/dp/1684034833/ref=as_li_ss_tl?ie=UTF8&amp;linkCode=sl1&amp;tag=self01b-20&amp;linkId=02501d4775a2eeee72647ec4f30ba84f&amp;language=en_US?_encoding=UTF8&amp;camp=1789&amp;creative=9325&amp;linkCode=ur2&amp;tag=storypodca-20&amp;linkId=2P4S6EY6B462X4AR"
                target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button9.png"></a>
        </div>
    </div>
</body>

</html>