<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Gauge</title>
    <link rel="stylesheet" href="../static/books.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&display=swap" rel="stylesheet">

</head>
<body>
    <header id="header">
       
        <div class="nav-link">
            <a href="#link1">Contact Us</a>
            <a href="#link2">Games</a> 
            <a href="#link3">Books</a>
            <a style="float:left;" class="right1" href="../templates/index.html">Health Gauge</a>
        </div>
    </header>
<div class="hhh">
    <h1> title</h1>   <!--   title to be added here -->
</div>
<div class="group">
    <div class="box1">
        <a href="#">    <!-- will add link here -->
            <img src="../static/images/books.jpeg" alt="image-1">  
        </a>
        <br>
        <br> 
        <p class="text">Books</p>
    </div>
    <br>

    <div class="box2">
        <a href=" #">   <!-- will add link here -->
            <img src="../static/images/meditation.png" alt="image-2">
        </a>
        <br><br>
        <p class="text">Meditation</p>
    </div>
    <br>
</div>

</body>
</html>