<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommended Books</title>
    <link rel="stylesheet" href="../static/book.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&display=swap" rel="stylesheet">

</head>
<body>
    <header id="header">
       
        <div class="nav-link">
            <a href="#link1">Contact Us</a>
            <a href="#link2">Games</a> 
            <a href="#link3">Books</a>
            <a style="float:left;" class="right1" href="../templates/index.html">Health Gauge</a>
        </div>
    </header>

    <h2>Books</h2>
    <div class="book">
        <ul>
            <li>
                <a href="https://www.amazon.com/Mental-Health-Emergencies-Recognizing-Handling/dp/1578266742">Mental Health Emergencies: A Guide to Recognizing and Handling Mental Health Crises</a><br>Author- Nick Benas and Michele Hart<br>
            </li>

            <li><dt>Ten Days in a Mad-House</dt>
                <dd>Author- Nellie Bly</dd>
                <dd>Link: https://www.amazon.com/Ten-Days-Mad-House-Nellie-Bly/dp/1983739464</dd>
            </li>

            <li><dt>Stigma: The Many Faces of Mental Illness </dt>
                <dd>Author: Joy Bruce M.D.</dd>
                <dd>Link: https://www.amazon.com/Stigma-Many-Faces-Mental-Illness/dp/154805741X</dd>
            </li>

            <li><dt>Look Me in the Eye: My Life with Asperger’s </dt>
                <dd>Author: John Elder Robison</dd>
                <dd>Link: https://www.amazon.com/Look-Me-Eye-Life-Aspergers/dp/0307396185</dd>
            </li>

            <li><dt>Man, Who Mistook His Wife for A Hat </dt>
                <dd>Author: Oliver Sacks and Jonathan Davis</dd>
                <dd>Link: https://www.amazon.com/Man-Who-Mistook-His-Wife/dp/1491514078</dd>
            </li>
            <!-- ----------------------------------------------------------------- -->
            <li><dt>Change Your Brain, Change your Life</dt>
                <dd>Author: Daniel G. Amen, MD</dd>
                <dd>Link: https://www.amazon.com/Change-Your-Brain-Revised-Expanded/dp/110190464X?dchild=1&keywords=Change+Your+Brain+Change+Your+Life+by+Daniel+Amen&qid=1622774391&s=books&sr=1-2&linkCode=ll1&tag=mental-health-books-06-20&linkId=8e7da505d5368072024b357866afe327&language=en_US&ref_=as_li_ss_tl&correlationId=4b2ba49e-e5d9-4d5d-bd5a-a7ee50d66fe1</dd>
            </li>
            <li><dt>Hope and Help for Your Nerves: End Anxiety Now</dt>
                <dd>Author: Dr. Claire Weekes</dd>
                <dd>Link: https://www.amazon.com/Hope-Help-Your-Nerves-Anxiety/dp/0593201906?dchild=1&keywords=Hope+and+Help+for+Your+Nerves&qid=1623358416&sr=8-1&linkCode=ll1&tag=mental-health-books-06-20&linkId=af1ef0403d4f6e0489cc63749fce7b2f&language=en_US&ref_=as_li_ss_tl&correlationId=498575b6-937a-4f53-9948-d9e30a61bb13</dd>
            </li>
            <li><dt>Recovery: Freedom from Our Addictions </dt>
                <dd>Author: Russell Brand</dd>
                <dd>Link: https://www.amazon.com/Recovery-Freedom-Addictions-Russell-Brand/dp/125018245X?dchild=1&keywords=Recovery%3A+Freedom+from+Our+Addictions+by+Russell+Brand&qid=1622774300&s=books&sr=1-3&linkCode=ll1&tag=mental-health-books-06-20&linkId=97458e6b9518ae508ef326ad0c0c5fea&language=en_US&ref_=as_li_ss_tl&correlationId=1734ab68-99e1-4489-8757-293bb52b8022</dd>
            </li>
            <li><dt>Maybe You Should Talk to Someone</dt>
                <dd>Author: Lori Gottlieb</dd>
                <dd>Link: https://www.amazon.com/Maybe-You-Should-Talk-Someone/dp/1328662055?dchild=1&keywords=Maybe+You+Should+Take+to+Someone+by+Lori+Gottlieb&qid=1622774633&s=books&sr=1-1&linkCode=ll1&tag=mental-health-books-06-20&linkId=4941a4e766dc7209155721a9933d8a0c&language=en_US&ref_=as_li_ss_tl&correlationId=28aa2025-3b32-4980-9041-df6aae907766</dd>
            </li>
            <li><dt>Emotional First Aid </dt>
                <dd>Author: Guy Winch, PhD,</dd>
                <dd>Link: https://www.amazon.com/Emotional-First-Aid-Rejection-Everyday/dp/0142181072?dchild=1&keywords=Emotional+First+Aid+by+Guy+Winch%2C+Ph.D.&qid=1622774818&s=books&sr=1-1&linkCode=ll1&tag=mental-health-books-06-20&linkId=ba64d6101b73581fbb0618f763e97caa&language=en_US&ref_=as_li_ss_tl&correlationId=ff503b30-91b2-458f-babf-03b032ee16a0</dd>
            </li>
            <li><dt>The Body Keeps the Score</dt>
                <dd>Author: Dr. Bessel van der Kolk</dd>
                <dd>Link: https://www.amazon.com/Body-Keeps-Score-Healing-Trauma/dp/0143127748?&linkCode=ll1&tag=mental-health-books-06-20&linkId=cfcf065112b4660119a641532414eaa0&language=en_US&ref_=as_li_ss_tl&correlationId=b2902b07-ae2f-46f4-9cce-c1a17d99cc6b</dd>
            </li>
            <li><dt>Detox Your Thoughts </dt>
                <dd>Author: Andrea Bonior, Ph.D.</dd>
                <dd>Link: https://www.amazon.com/Detox-Your-Thoughts-Negative-Self-Talk/dp/1452184879/ref=as_li_ss_tl?ie=UTF8&linkCode=sl1&tag=self01b-20&linkId=365887b9932af440ec3c4f24f6fd1d84&language=en_US</dd>
            </li>
            <li><dt>Essential Art Therapy Exercises </dt>
                <dd>Author: Leah Guzman</dd>
                <dd>Link: https://www.amazon.com/Essential-Art-Therapy-Exercises-Techniques/dp/1646111621/ref=as_li_ss_tl?ie=UTF8&linkCode=sl1&tag=self01b-20&linkId=0d1be35d8b1260c9d862bf21e8a0059a&language=en_US</dd>
            </li>
            <li><dt>Anxiety Relief for Teens </dt>
                <dd>Author: Regine Galanti, Ph.D.</dd>
                <dd>Link: https://www.amazon.com/Anxiety-Relief-Teens-Essential-Mindfulness/dp/0593196643/ref=as_li_ss_tl?ie=UTF8&linkCode=sl1&tag=self01b-20&linkId=878809ef5fd33bd8f699b85903061d3d&language=en_US</dd>
            </li>
            <li><dt>Rising Strong </dt>
                <dd>Author: Brené Brown, Ph.D.</dd>
                <dd>Link: https://www.amazon.com/Rising-Strong-Ability-Transforms-Parent/dp/081298580X/ref=as_li_ss_tl?ie=UTF8&linkCode=sl1&tag=self01b-20&linkId=7229a6fa7adc65e05df58ff367664745&language=en_US</dd>
            </li>
            <!-- --------------------------------------------------------- -->
            <li><dt>Man’s Search for Meaning </dt>
                <dd>Author: Viktor E. Frankl, Ph.D.</dd>
                <dd>Link: https://www.amazon.com/Mans-Search-Meaning-Viktor-Frankl/dp/0807014273/ref=as_li_ss_tl?ie=UTF8&linkCode=sl1&tag=self01b-20&linkId=e8b170cb36565ea526b9192145920ba5&language=en_US</dd>
            </li>
            <li><dt>Joy on Demand </dt>
                <dd>Author: Chade-Meng Tan</dd>
                <dd>Link: https://www.amazon.com/dp/0062378872/ref=as_li_ss_tl?ie=UTF8&linkCode=sl1&tag=self01b-20&linkId=28f2c19164b8bebf1ac35cfcca322097&language=en_US</dd>
            </li>
            <li><dt>The Courage to Be Disliked </dt>
                <dd>Author: Ichiro Kishimi and Fumitake Koga</dd>
                <dd>Link: https://www.amazon.com/Courage-Be-Disliked-Phenomenon-Happiness-ebook/dp/B078MDSV8T/ref=as_li_ss_tl?ie=UTF8&linkCode=sl1&tag=self01b-20&linkId=23d97c58cff766b65b8b171c4a8cf934&language=en_US</dd>
            </li>
            <!-- =------------------------------------------------= -->
            <li><dt>Radical Compassion</dt>
                <dd>Author: Tara Brach, Ph.D.</dd>
                <dd>Link: https://www.amazon.com/Radical-Compassion-Learning-Yourself-Practice/dp/0525522816/ref=as_li_ss_tl?ie=UTF8&linkCode=sl1&tag=self01b-20&linkId=790ca0f9e36addbf169ffd48f5ce179c&language=en_US</dd>
            </li>
            <li><dt>The Anxiety and Phobia Workbook </dt>
                <dd>Author: Edmund J. Bourne, Ph.D.</dd>
                <dd>Link: https://www.amazon.com/Anxiety-Phobia-Workbook-Edmund-Bourne/dp/1684034833/ref=as_li_ss_tl?ie=UTF8&linkCode=sl1&tag=self01b-20&linkId=02501d4775a2eeee72647ec4f30ba84f&language=en_US</dd>
            </li>
        </ul>
    </div>
</body>

</html>