<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Gauge</title>
    <link rel="stylesheet" href="../static/recommend.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&display=swap" rel="stylesheet">

</head>
<body>
    <header id="header">
       
        <div class="nav-link">
            <a href="#link1">Contact Us</a>
            <a href="#link2">Games</a> 
            <a href="#link3">Books</a>
            <a style="float:left;" class="right1" href="../templates/index.html">Health Gauge</a>
        </div>
    </header>
    
<div class="hero1">
    <p>{{mental_status}}</p>
</div>

<div class="hero2">
    <p>{{heading}}</p>
</div>

<div id="about" style="padding-top:20px">
    <section id="section-two">
       <div class="container">
           <div class="info-box">
            <a href="{{url_for('MentalHealthBooks')}}"> 
               <img src="../static/images/books.jpeg" alt="image1" />
            </a>
           </div>
           <div class="info-box">
               <h1 class="hero">Read Some Books!</h1>
               <p>When we read, not only are we improving memory and empathy, but research has shown that it makes us feel better and more positive too.<br>In the case of depression self-help books are the best type because people with severe depression benefit greater from a low intensity intervention, self-help books fit into this category, so not only does reading them help patients with depression, but the topic also adds a benefit</p>
           </div>
       </div>
   </section>
</div>

   <!-- Sec>tion #3 -->
   <div id="about">
   <section id="section-three">
      <div class="container">
          <div class="info-box">
            <a href="{{url_for('Meditations')}}"> 
              <img src="../static/images/meditation.png" alt="image2" />
            </a>
          </div>
          <div class="info-box">
              <h1 class="hero">Start Meditating!</h1>
              <p>Meditation can give you a sense of calm, peace and balance that can benefit both your emotional well-being and your overall health.<br>And these benefits don't end when your meditation session ends. Meditation can help carry you more calmly through your day and may help you manage symptoms of certain medical conditions
              </p>
          </div>
      </div>
  </section>
   </div>

</body>
</html>