<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Physical Health Recommendation</title>
    <link rel="stylesheet" href="../static/recommend.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&display=swap" rel="stylesheet">

</head>
<body>
    <header id="header">
       
        <div class="nav-link">
            <a href="#link1">Contact Us</a>
            <a href="#link2">Games</a> 
            <a href="#link3">Books</a>
            <a style="float:left;" class="right1" href="../templates/index.html">Health Gauge</a>
        </div>
    </header>


<div class="hero1">
    <p> Heading one </p>
</div>

<div class="hero2">
    <p>heading 2</p>
</div>

<div id="about" style="padding-top:20px">
    <section id="section-two">
       <div class="container">
           <div class="info-box">
            <a href="{{url_for('MentalHealthBooks')}}"> 
               <img src="../static/images/exercise.jpeg" alt="image1" />
            </a>
           </div>
           <div class="info-box">
               <h1 class="hero">Let's Start Exercising !</h1>
               <p>Regular physical activity can improve your muscle strength and boost your endurance.Exercise delivers oxygen and nutrients to your tissues and helps your cardiovascular system work more efficiently. And when your heart and lung health improve, you have more energy to tackle daily chores.<br>You may also feel better about your appearance and yourself when you exercise regularly, which can boost your confidence and improve your self-esteem.</p>
           </div>
       </div>
   </section>
</div>

   <!-- Sec>tion #3 -->
   <div id="about">
   <section id="section-three">
      <div class="container">
          <div class="info-box">
            <a href="{{url_for('Meditations')}}"> 
              <img src="../static/images/diet.jpeg" alt="image2" />
            </a>
          </div>
          <div class="info-box">
              <h1 class="hero">Plan a Proper Diet!</h1>
              <p>A balanced diet supplies the nutrients your body needs to work effectively. Without balanced nutrition, your body is more prone to disease, infection, fatigue, and low performance.<br>Your body gets the right nutrition when you consume a wide variety of food rich in calories such as fresh fruits and vegetables, whole grains, and proteins.
              </p>
          </div>
      </div>
  </section>
   </div>

</body>
</html>