<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mental Health</title>
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>

    <header id="header">
<!--        The below div is for the navigation bar -->
        <div class="nav-link">
            <a href="#link1">Contact Us</a>
            <a href="#link2">Games</a> 
            <a href="{{ url_for('Landingpage')}}">Landing Page</a>
            <a style="float:left;" class="right1" href="../templates/index.html">Health Gauge</a>
        </div>
    </header>


<form action="{{ url_for('Recomendation')}}" method="post" id="survey-form">
    <h2>Don't hold back! Choose the most appropriate option:</h2>
    <br>
        <label for="Age">What is your age? <br></label>       
            <input type="text" name="Age" class="form-control" id="Age">
            <br><br>
        <legend>What is your gender?</legend><select name="label_Gender" id = "first" required = "required">
                 <option value="male"> Male</option>
                 <option value="female"> Female</option>
                 <option value="Trans"> Trans</option>
                 </select>
        <br><br>
        <legend>Do you have a family history of Mental illness? </legend><select name="label_family_history" id = "second" required = "required">
                <option value="Yes"> Yes</option>
                <option  value="No"> No</option>
                </select>
        <br><br>
        <legend>Does your Employer/School/College provide mental health benefits?</legend> <select name="label_benefits">
                <option value="Yes"> Yes</option>
                <option  value="No"> No</option>
                <option value="don't know"> Don't know</option>
                </select>
        <br><br>
        <legend> Do you know the options for mental health care your Employer/School/College provides?</legend><select name="label_care_options">
        <option value="yes"> Yes</option>
        <option value="no"> No</option>
        <option value="not sure"> Not Sure</option>
        </select>
        <br> <br>
        <legend>Is your anonymity protected if you choose to take advantage of mental health or substance abuse treatment resources?</legend><select name="label_anonymity">
                <option value="yes"> Yes</option>
                <option value="no"> No</option>
                <option value="don't know"> Don't know</option>
                </select>
        <br><br>
        <legend> How easy is it for you to take medical leave from your Work/Classes for a mental health condition?</legend><select name="label_leave">
        <option value="Don't know"> Don't know</option>
        <option value="Somewhat difficult"> Somewhat difficult</option>
                <option value="Somewhat easy"> Somewhat easy</option>
                <option value="Very difficult">Very difficult</option>
                <option value="Very easy"> Very easy</option>
                </select>   
        <br><br>
        <legend>If you have a mental health condition, do you feel that it interferes with your study/Work? </legend><select name="label_work_interfere">
                <option value="Don't know"> Don't know</option>
                <option value="Never">Never</option>
                <option value="Often">Often </option>
                <option value="Rarely">Rarely</option>
                <option value="Sometimes">Sometimes </option>
                </select>
        <br><br>
        <legend>Would you be willing to discuss a mental health issue with your friends/ Classmates/ Coworker/ Parents?</legend><select name="label_coworkers">
                <option value="yes"> Yes</option>
                <option value="no"> No</option>
                <option value="Some of them"> Some of them</option>
                </select>
        <br> <br><br>
       
         <button id="submit" type="submit"> Submit</button>
         

    </div>

</form>

</body>
</html>
