<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz for mental Health</title>
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>

    <header id="header">
<!--        The below div is for the navigation bar -->
        <div class="nav-link">
            <a href="#link1">Contact Us</a>
            <a href="#link2">Games</a> 
            <a href="#link3">Books</a>
            <a style="float:left;" class="right1" href="../templates/index.html">Health Gauge</a>
        </div>
    </header>
    
    <div class="block">
    <h1>Quiz for mental Health</h1>
    <br>
    <br>

<!-- The below questions are to be answered by the user  -->
<form id="survey-form">
        <label for="Age">What is your age? <br></label>       
            <input type="text" name="Age" class="form-control" id="Age">
            <br><br>
        <legend>What is your gender?</legend>
                <input type="radio" name="label_Gender" value="male"> Male<br>
                <input type="radio" name="label_Gender" value="female"> Female<br>
                <input type="radio" name="label_Gender" value="Trans"> Trans<br>
                <br>
        <legend>Do you have a family history of Mental illness? </legend>
            <input type="radio" name="label_family_history" value="yes"> Yes<br>
            <input type="radio" name="label_family_history" value="no"> No<br>
        <br>
        <legend>Does your Employer/School/College provide mental health benefits?</legend>
            <input type="radio" name="label_benefits" value="yes"> Yes<br>
            <input type="radio" name="label_benefits" value="no"> No<br>
            <input type="radio" name="label_benefits" value="don't know"> Don't know<br>
        <br>
        <legend> Do you know the options for mental health care your Employer/School/College provides?</legend>
            <input type="radio" name="label_care_options" value="yes"> Yes<br>
            <input type="radio" name="label_care_options" value="no"> No<br>
            <input type="radio" name="label_care_options" value="not sure"> Not Sure<br>
        <br>
        <legend>Is your anonymity protected if you choose to take advantage of mental health or substance abuse treatment resources?</legend>
            <input type="radio" name="label_anonymity" value="yes"> Yes<br>
            <input type="radio" name="label_anonymity" value="no"> No<br>
            <input type="radio" name="label_anonymity" value="don't know"> Don't know<br>
        <br>
        <legend> How easy is it for you to take medical leave from your Work/Classes for a mental health condition?</legend>
            <input type="radio" name="label_leave" value=" Don't know"> Don't know<br>
            <input type="radio" name="label_leave" value="Somewhat difficult"> Somewhat difficult<br>
            <input type="radio" name="label_leave" value="Somewhat easy"> Somewhat easy<br>
            <input type="radio" name="label_leave" value="Very difficult">Very difficult<br>
            <input type="radio" name="label_leave" value="Very easy"> Very easy<br>
        <br>
        <legend>If you have a mental health condition, do you feel that it interferes with your study/Work? </legend>
            <input type="radio" name="label_work_interfere" value=" Don't know"> Don't know<br>
            <input type="radio" name="label_work_interfere" value="Never">Never<br>
            <input type="radio" name="label_work_interfere" value="Often ">Often <br>
            <input type="radio" name="label_work_interfere" value="Rarely">Rarely<br>
            <input type="radio" name="label_work_interfere" value="Sometimes ">Sometimes <br>
        <br>
        <legend>Would you be willing to discuss a mental health issue with your friends/classmates/Coworker/Parents?</legend>
        <input type="radio" name="label_coworkers" value="yes"> Yes<br>
        <input type="radio" name="label_coworkers" value="no"> No<br>
        <input type="radio" name="label_coworkers" value="Some of them"> Some of them<br>
    <br>
    <br>
            <button id="submit"> Submit</button>


    </div>

</form>

   
  
    
</body>
</html>
