<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommended Videos</title>
    <link rel="stylesheet" href="../static/videos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&display=swap" rel="stylesheet">

</head>
<body>
    <header id="header">
       
        <div class="nav-link">
            <a href="#link1">Contact Us</a>
            <a href="#link2">Games</a> 
            <a href="#link3">Books</a>
            <a style="float:left;" class="right1" href="../templates/index.html">Health Gauge</a>
        </div>
    </header>


    <div id="view">
        <h2>Video Recommendations</h2>
        <div class="row">
            
            <div class="col">
                <div class="element">
                <iframe width="300" height="200" src="https://www.youtube.com/embed/ENYYb5vIMkU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <br>
                <p class="tt">10-Minute Meditation for Anxiety</p>
            </div>
            </div>
    
            <div class="col">
                <div class="element">
                <iframe width="300" height="200" src="https://www.youtube.com/embed/aEqlQvczMJQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <br>
                <p class="tt">10-Minute Meditation for Sleep</p>
            </div>
            </div>
    
            <div class="col">
                <div class="element">
                <iframe width="300" height="200" src="https://www.youtube.com/embed/z6X5oEIg6Ak" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <br>
                <p class="tt">10-Minute Meditation for Stress </p>
               
            </div>
            </div>
       

            <div class="col">
                <div class="element"></div>
                <iframe width="300" height="200" src="https://www.youtube.com/embed/2FGR-OspxsU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <br>
                <p class="tt">10-Minute Meditation for Healing</p>
            </div>
            </div>
        </div>
        <br>
        
        <div class="row">
           
            <div class="col">
                <iframe width="300" height="200" src="https://www.youtube.com/embed/wkse4PPxkk4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p class="tt">10-Minute Meditation for Anger</p>
            </div>

            <div class="col">
                <iframe width="300" height="200" src="https://www.youtube.com/embed/U9YKY7fdwyg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p class="tt">10-Minute Meditation for Beginners</p>
            </div>

            <div class="col">
                <iframe width="300" height="200" src="https://www.youtube.com/embed/xRxT9cOKiM8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p class="tt">10-Minute Meditation for Depression</p>
            </div>
    
            <div class="col">
                <iframe width="300" height="200" src="https://www.youtube.com/embed/QHkXvPq2pQE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p class="tt">Reset: Decompress Your Body and Mind</p>
            </div>
        </div>
    </div>

</body>

</html>